<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{ $currentPage := . }}
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ .Name }}
                </a>
                <ul class="dropdown-menu">
                    {{ range .Children }}
                        <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
                </li>

            {{ else }}
                <li class="nav-item">
                    <a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
                </li>

            {{ end }}
        {{ end }}

        


      </ul>
    </div>
  </div>
</nav>